:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #ff4081;
  --bg-dark: #1a1a1a;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.87);
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}